html, body{background-color: rgb(249,249,249);color:#000000;}

#top_fraim
{
    width:100%;
    min-height:350px;
    border-bottom:1px solid lightgrey;
}

#log_fraim
{
    /*width:100%;*/
    width:30%;
    min-height:300px;
    /*border-top:1px solid lightgrey;*/
    border-left:1px solid lightgrey;
    border-right:1px solid lightgrey;
}

#log_fraim p{font-size:80%;}

.inline {display:inline-block;}
.columns{width:25%; margin:auto; padding:30px;min-height:300px;vertical-align: top;}
#battle_fraim{background-color: #CCFFFF;}
#rus_column{}

#jap_column{text-align:right;}

ul{list-style-type:none;}

.oval {
    width: 10px;
    height: 5px;
    display: inline-block;
    margin:0 1px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}

.red{background: red;}
.grey{background: lightgrey;}
.blue{background: deepskyblue;}
.green{background: green;}

.p_line{margin:1px; line-height:1em;}
#top_fraim p{line-height:0.5em;}

.red_text{color: red;}
.green_text{color: green;}